@import "../ui/sass/base/normalize",
"../ui/sass/base/layout",
"../ui/sass/component/loading";

body {
  background: #f0d149 url(../img/bac.png) repeat;
}

.ui-loading-wrap {
  top: 45%;
  left: 50%;
  .ui-loading {
    margin-right: 10px;
  }
  position: absolute;
  z-index: 10;
  width: 300px;
  margin-left: -150px;
  margin-top: -50px;
  padding: 50px 0;
  background: rgba(0,0,0,.8);
  color: #FFF;
  border-radius: 10px;
}

/**
* 底部
*/
.footer {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 100px;
  background: url(../img/bac-bottom.png) repeat-x left bottom;
  z-index: -1;
}
#download {
  box-sizing: border-box;
  padding: 20px 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  height: 120px;
  width: 100%;
  background: rgba(0,0,0,.6) url("../img/download.png") no-repeat;
  background-origin: content-box;
  background-size: contain;
  text-align: right;
}

/**
* 屏幕内容
*/
.section {
  margin: 40px;
  position: relative;
  text-align: center;
  .slogan {
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .father-img {
    //position: absolute;
    width: 80%;
    padding-top: 90px;
    //top: 90px;
    //left: 10%;
  }
  .frame {
    border: 3px solid #4b240d;/*no*/
    width: 580px;
    height: 700px;
    margin: 0 auto 30px;
    box-sizing: border-box;
    //padding: 20px;
    background: #FFF;
    overflow: hidden;
    text-align: left;
    position: relative;
    .frame-inner {
      margin: 20px;
      overflow: hidden;
    }
    .word {
      position: absolute;
      top: 20px;
      left: 15px;
      width: 95%;
      z-index: 2;
      //pointer-events: none;
      //padding: 20px 0 0 20px;
    }
    .frame-img {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      transition: all .2s ease;
      //height: 660px;
      //height: 100%;
    }
  }
  .ui-justify {
    margin: 0 30px;
  }
  .h6 {
    font-size: 24px;/*px*/
    color: #333;
    margin-bottom: 10px;
  }
}
.section-top {
  padding-top: 40px;
}
.section-top2 {
  padding-top: 80px;
}

/**
* 弹出框
*/
.dialog {
  position: absolute;
  top: 30%;
  left: 12.5%;
  background: rgba(0,0,0,.7);
  width: 75%;
  border-radius: 20px;/*no*/
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  font-size: 32px;
  color: #FFF;
  word-break: break-all;
  word-wrap: break-word;
}
.zoomIn {
  animation: zoomIn .5s backwards;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1);
  }

  50% {
    opacity: 1;
  }
}

/**
* 小工具
*/
.db-img {
  width: 100%;
  height: 100%;
  display: block;
}

@mixin spriteY($offset_y, $height, $total_height) {
  background-position: 0 $offset_y /($height - $total_height)*100%;
}
/**
* 按钮
*/
button,#btnDownload,.file {
  background: url("../img/buttons.png") no-repeat left top;
  border: 0;
  background-size: 360px auto;
  color: #FFF;
  text-shadow: 4px 4px #c44911;/*px*/
  font-weight: bold;
  display: inline-block;
  font-size: 34px;/*px*/
}
.btn-large-x {
  width: 360px;
  height: 100px;
  padding-bottom: 20px;
  margin-top: 30px;
  position: relative;
  input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
#btnDownload {
  width: 140px;
  height: 80px;
  @include spriteY(-400px, 60px, 460px);
}
.btn-middle {
  width: 160px;
  height: 110px;
  @include spriteY(-260px, 90px, 460px);
}
.btn-large {
  width: 250px;
  height: 130px;
  @include spriteY(-115px, 110px, 460px);
  h1 {
    font-size: 26px;/*px*/
  }
  h2 {
    font-size: 22px;/*px*/
  }
}
/**
* 音乐
*/
#music {
  width: 60px;
  height: 60px;
  z-index: 3;
  position: absolute;
  right: 30px;
  top: 30px;
  border-radius: 100%;
  border:4px solid #140f0e;/*px*/
  background: #de833a url(../img/music.png) no-repeat 40% center;
  background-size: 60% 60%;
  box-shadow: 0 0 0 2px #f0d149 inset;/*px*/
  animation-fill-mode: backwards;
}
#audio {
  display: none;
}
.music-rotate {
  animation: rotate360 3s linear infinite;
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.music-pulse {
  animation: pulse 1s infinite;
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}