@charset "UTF-8";

/***********************************************************************************************************************
* flex相关
************************************************************************************************************************/

/**
* 工具会忽略-webkit-box-align属性
*/

/**
* 上下左右居中
*/

/***********************************************************************************************************************
* 文字相关
************************************************************************************************************************/

/**
* 自动截取
*/

/**
* Flex中自动截取
*/

/**
* 自定义ICON
*/

/**
* 列表中的小箭头
*/

/**
* 列表中的小箭头 默认样式
*/

/***********************************************************************************************************************
* CSS3属性兼容性
************************************************************************************************************************/

/**
* Retina屏幕
*/

/***********************************************************************************************************************
* border相关
************************************************************************************************************************/

/**
* 1px兼容问题
*/

/***********************************************************************************************************************
* 标签相关
************************************************************************************************************************/

.ui-badge-important,
.ui-badge-success,
.ui-badge-warning {
  display: inline-block;
  text-align: center;
  color: #fff;
  background-clip: padding-box;
}

.ui-badge-important {
  border-radius: 0.106667rem;
  padding: 0 0.08rem;
  background: #f75549;
}

.ui-badge-success {
  border-radius: 0.106667rem;
  padding: 0 0.08rem;
  background: #468847;
}

.ui-badge-warning {
  border-radius: 0.106667rem;
  padding: 0 0.08rem;
  background: #f89406;
}