@charset "UTF-8";

/***********************************************************************************************************************
* flex相关
************************************************************************************************************************/

/**
* 工具会忽略-webkit-box-align属性
*/

/**
* 上下左右居中
*/

/***********************************************************************************************************************
* 文字相关
************************************************************************************************************************/

/**
* 自动截取
*/

/**
* Flex中自动截取
*/

/**
* 自定义ICON
*/

/**
* 列表中的小箭头
*/

/**
* 列表中的小箭头 默认样式
*/

/***********************************************************************************************************************
* CSS3属性兼容性
************************************************************************************************************************/

/**
* Retina屏幕
*/

/***********************************************************************************************************************
* border相关
************************************************************************************************************************/

/**
* 1px兼容问题
*/

/***********************************************************************************************************************
* 标签相关
************************************************************************************************************************/

.ui-form-item {
  position: relative;
  padding: 0.2rem 0;
  overflow: hidden;
}

[data-dpr="1"] .ui-form-item {
  font-size: 16px;
}

[data-dpr="2"] .ui-form-item {
  font-size: 32px;
}

[data-dpr="3"] .ui-form-item {
  font-size: 48px;
}

.ui-form-item > label {
  display: block;
}

.ui-form-item label ~ .ui-control {
  box-sizing: border-box;
  position: relative;
}

.ui-form-item input {
  text-align: right;
  line-height: 1.5;
}

.ui-form-item .tr {
  text-align: right;
}

.ui-form-item .tl {
  text-align: left;
}

.ui-form-item .tc {
  text-align: center;
}

.ui-form-item input,
.ui-form-item textarea {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  padding: 0;
}

.ui-form-item input[type="checkbox"],
.ui-form-item input[type="radio"] {
  padding-left: 0;
}

.ui-form-item-btn button {
  margin-left: 0.133333rem;
  padding: 0;
  border: 0;
  color: #FFF;
  background: #00a5e0;
  display: block;
}

.ui-form-error label {
  color: #f75549;
}

.ui-form-success label {
  color: #468847;
}