@charset "UTF-8";

/***********************************************************************************************************************
* flex相关
************************************************************************************************************************/

/**
* 工具会忽略-webkit-box-align属性
*/

/**
* 上下左右居中
*/

/***********************************************************************************************************************
* 文字相关
************************************************************************************************************************/

/**
* 自动截取
*/

/**
* Flex中自动截取
*/

/**
* 自定义ICON
*/

/**
* 列表中的小箭头
*/

/**
* 列表中的小箭头 默认样式
*/

/***********************************************************************************************************************
* CSS3属性兼容性
************************************************************************************************************************/

/**
* Retina屏幕
*/

/***********************************************************************************************************************
* border相关
************************************************************************************************************************/

/**
* 1px兼容问题
*/

/***********************************************************************************************************************
* 标签相关
************************************************************************************************************************/

.ui-label-important,
.ui-label-success,
.ui-label-warning {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.ui-label-important:active,
.ui-label-success:active,
.ui-label-warning:active {
  background-color: #f3f2f2;
}

.ui-label-important {
  border: 1px solid #f75549;
  color: #f75549;
  padding: 0.026667rem 0.066667rem;
}

.ui-label-important::before {
  position: absolute;
  content: "";
  border: 0.5px solid #f75549;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.ui-label-success {
  border: 1px solid #468847;
  color: #468847;
  padding: 0.026667rem 0.066667rem;
}

.ui-label-success::before {
  position: absolute;
  content: "";
  border: 0.5px solid #468847;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.ui-label-warning {
  border: 1px solid #f89406;
  color: #f89406;
  padding: 0.026667rem 0.066667rem;
}

.ui-label-warning::before {
  position: absolute;
  content: "";
  border: 0.5px solid #f89406;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}