@charset "UTF-8";

/***********************************************************************************************************************
* flex相关
************************************************************************************************************************/

/**
* 工具会忽略-webkit-box-align属性
*/

/**
* 上下左右居中
*/

/***********************************************************************************************************************
* 文字相关
************************************************************************************************************************/

/**
* 自动截取
*/

/**
* Flex中自动截取
*/

/**
* 自定义ICON
*/

/**
* 列表中的小箭头
*/

/**
* 列表中的小箭头 默认样式
*/

/***********************************************************************************************************************
* CSS3属性兼容性
************************************************************************************************************************/

/**
* Retina屏幕
*/

/***********************************************************************************************************************
* border相关
************************************************************************************************************************/

/**
* 1px兼容问题
*/

/***********************************************************************************************************************
* 标签相关
************************************************************************************************************************/

/***********************************************************************************************************************
* 列表 li全部使用flex布局
************************************************************************************************************************/

.ui-list {
  width: 100%;
  /*按压效果*/
}

.ui-list > li {
  position: relative;
  display: -webkit-box;
}

.ui-list > li.active {
  background-color: #e5e6e7;
}

/*有些地方会使用flex，有些地方是block*/

.ui-list-block > li {
  display: block;
}

/*使用兼容性的flex写法*/

.ui-list-flex > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/*列表上下间距*/

.ui-list > li {
  position: relative;
  padding-top: 0.266667rem;
  padding-bottom: 0.266667rem;
}

/*列表图片*/

.ui-list-img {
  margin: 0.133333rem 0.133333rem 0.133333rem 0;
}

.ui-list-img > img {
  display: block;
  width: 100%;
}

/***********************************************************************************************************************
* 显示箭头的 li列表
************************************************************************************************************************/

.ui-list-link > li {
  overflow: hidden;
  /*箭头符号设置字体后after宽度会变大，right会导致滚动条*/
  padding-right: 0.4rem;
}

.ui-list-link > li::after {
  font-family: "iconfont" !important;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  font-weight: bold;
  color: #c7c7c7;
  content: "";
  position: absolute;
  right: -0.106667rem;
  top: 50%;
}

[data-dpr="1"] .ui-list-link > li::after {
  font-size: 26px;
  margin-top: -18.2px;
}

[data-dpr="2"] .ui-list-link > li::after {
  font-size: 52px;
  margin-top: -36.4px;
}

[data-dpr="3"] .ui-list-link > li::after {
  font-size: 78px;
  margin-top: -54.6px;
}