@charset "UTF-8";

/***********************************************************************************************************************
* flex相关
************************************************************************************************************************/

/**
* 工具会忽略-webkit-box-align属性
*/

/**
* 上下左右居中
*/

/***********************************************************************************************************************
* 文字相关
************************************************************************************************************************/

/**
* 自动截取
*/

/**
* Flex中自动截取
*/

/**
* 自定义ICON
*/

/**
* 列表中的小箭头
*/

/**
* 列表中的小箭头 默认样式
*/

/***********************************************************************************************************************
* CSS3属性兼容性
************************************************************************************************************************/

/**
* Retina屏幕
*/

/***********************************************************************************************************************
* border相关
************************************************************************************************************************/

/**
* 1px兼容问题
*/

/***********************************************************************************************************************
* 标签相关
************************************************************************************************************************/

.ui-radio {
  display: inline-block;
}

.ui-radio-row {
  display: block;
  margin-right: 0;
}

.ui-radio input {
  display: inline-block;
  position: relative;
  margin-right: 0.133333rem;
}

.ui-radio input::before {
  content: '';
  border: 1px solid #d5d5d5;
  border-radius: 100%;
  background-clip: padding-box;
  position: absolute;
  left: 0;
  top: 0;
}

.ui-radio input:checked::after {
  content: '';
  background: #18b4ed;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
}

.ui-radio {
  margin-right: 0.133333rem;
}

.ui-radio-row {
  margin-bottom: 0.266667rem;
}

[data-dpr="1"] .ui-radio input {
  width: 26px;
  height: 26px;
  vertical-align: -6.5px;
}

[data-dpr="2"] .ui-radio input {
  width: 52px;
  height: 52px;
  vertical-align: -13px;
}

[data-dpr="3"] .ui-radio input {
  width: 78px;
  height: 78px;
  vertical-align: -19.5px;
}

[data-dpr="1"] .ui-radio input::before {
  width: 24px;
  height: 24px;
}

[data-dpr="2"] .ui-radio input::before {
  width: 48px;
  height: 48px;
}

[data-dpr="3"] .ui-radio input::before {
  width: 72px;
  height: 72px;
}

[data-dpr="1"] .ui-radio input:checked::after {
  width: 14px;
  height: 14px;
  margin-top: -7px;
  margin-left: -7px;
}

[data-dpr="2"] .ui-radio input:checked::after {
  width: 28px;
  height: 28px;
  margin-top: -14px;
  margin-left: -14px;
}

[data-dpr="3"] .ui-radio input:checked::after {
  width: 42px;
  height: 42px;
  margin-top: -21px;
  margin-left: -21px;
}