@import
  "base/normalize",//reset
  "base/grid",//网格
  "base/icon",//icon
  "base/typeface",//字体
  "base/border",//边框
  "base/layout",//布局
  "component/button",//按钮
  "component/loading",//loading效果
  "component/list",//列表
  "component/badge",//徽标
  "component/label",//标签
  "component/table",//表格
  "component/radio",//单选框
  "component/checkbox",//多选框
  "component/form",//表单
  "component/switch"//开关
;