@charset "UTF-8";

/***********************************************************************************************************************
* flex相关
************************************************************************************************************************/

/**
* 工具会忽略-webkit-box-align属性
*/

/**
* 上下左右居中
*/

/***********************************************************************************************************************
* 文字相关
************************************************************************************************************************/

/**
* 自动截取
*/

/**
* Flex中自动截取
*/

/**
* 自定义ICON
*/

/**
* 列表中的小箭头
*/

/**
* 列表中的小箭头 默认样式
*/

/***********************************************************************************************************************
* CSS3属性兼容性
************************************************************************************************************************/

/**
* Retina屏幕
*/

/***********************************************************************************************************************
* border相关
************************************************************************************************************************/

/**
* 1px兼容问题
*/

/***********************************************************************************************************************
* 标签相关
************************************************************************************************************************/