/*
  字体效果
*/
@import "../helper/variable", "../helper/mixin";

/***********************************************************************************************************************
* h1 h2 h3 h4 h5 h6
************************************************************************************************************************/
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: inherit;
  font-weight: 500;
  color: inherit;
  //margin-bottom:funcPxToRem(20px);
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,
.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,
h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small,
.h1 .small,.h2 .small,.h3 .small,.h4 .small,.h5 .small,.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777;
}
h1 small,.h1 small,h2 small,.h2 small,h3 small,.h3 small,
h1 .small,.h1 .small,h2 .small,.h2 .small,h3 .small,.h3 .small {
  font-size: 65%;
}
h4 small,.h4 small,h5 small,.h5 small,h6 small,.h6 small,
h4 .small,.h4 .small,h5 .small,.h5 .small,h6 .small,.h6 .small {
  font-size: 75%;
}
h1,.h1 {
  font-size: $font-size-h1;/*px*/
}
h2,.h2 {
   font-size: $font-size-h2;/*px*/
}
h3,.h3 {
  font-size: $font-size-h3;/*px*/
}
h4,.h4 {
  font-size: $font-size-h4;/*px*/
}
h5,.h5 {
  font-size: $font-size-h5;/*px*/
}
h6,.h6 {
  font-size: $font-size-h6;/*px*/
}

/***********************************************************************************************************************
* 字体大小
************************************************************************************************************************/

/***********************************************************************************************************************
* 颜色
************************************************************************************************************************/
.ui-color-default{
  color: $color-default;
}
.ui-color-white{
  color: white;
}
.ui-color-info{
  color: $color-info;
}
.ui-color-muted{
  color: $color-muted;
}
.ui-color-warning{
  color: $color-warning;
}
.ui-color-feeds{
  color: $color-feeds;
}
.ui-color-highlight{
  color: $color-highlight;
}
.ui-color-important {
  color: $color-important;
}
.ui-color-success {
  color: $color-success;
}
a{
  color: $color-link;
}
em{
  color: $color-highlight;
}

/***********************************************************************************************************************
* Input中的placeholder
************************************************************************************************************************/
input::-webkit-input-placeholder{
  color: $color-muted;
}
input:focus::-webkit-input-placeholder{
  color: $color-info;
}

/***********************************************************************************************************************
* 文字截断
************************************************************************************************************************/
/* 普通单行 */
.ui-nowrap{
  @include nowrap;
}
/* 弹性布局单行 */
.ui-nowrap-flex{
  @include nowrapFlex(1);
}
/* 弹性布局两行 */
.ui-nowrap-flex-2 {
  @include nowrapFlex(2);
}

/***********************************************************************************************************************
* 箭头链接
************************************************************************************************************************/
.ui-arrow-link{
  position: relative;
  &::after{
    @include arrowLinkDefault;//3处
  }
}